button {
    display: block;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #0077cc;
    cursor: pointer;
    transition: 250ms;
}

button:hover {
    opacity: 0.8;
}

button:active {
    background-color: #005fa3;
}