.catalog-element-wrapper {
    display: inline-block;
    position: relative;
    border: 1px solid white;
    width: 250px;
    height: 250px;
    vertical-align: top;
    text-align: center;
    line-height: normal;
    transition: 200ms;
    margin: 0px 0px 20px;
}

.catalog-element-wrapper a {
    text-decoration: none;
    color: inherit;
}

.catalog-element-wrapper:hover {
    border: 1px solid black;
}

@media (min-width: 768px) {
    .catalog-element-wrapper {
        left: 12.5%;
        transform: translateX(-50%);
    }
}





