.userform-wrapper {
    text-align: center;
    border: 1px solid #f5f4f0;
    max-width: 500px;
    width: 300px;
    padding: 1em;
    margin: 0 auto;
}

.userform-wrapper input {
    width: 100%;
    margin-bottom: 1em;
}

.userform-wrapper label, input {
    display: block;
    line-height: 2em;
}